[Unit]
Description=Backup files
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone --config /etc/rclone-backup/%i/%i.config sync /backup/%i %i:
User=%i
