[Unit]
Description=Refresh cloudflare
After=nginx.service firewalld.service fail2ban.service
Requires=nginx.service firewalld.service fail2ban.service 


[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/lib/cloudflare-refresh/cloudflare-refresh.sh

