pkgbase = shoko-server-git
	pkgdesc = Anime cataloging service
	pkgver = v4.1.2.r661.g79486a4b
	pkgrel = 1
	url = https://github.com/ShokoAnime/ShokoServer
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = grep
	makedepends = sed
	makedepends = dotnet-sdk
	depends = mediainfo
	depends = rhash
	depends = shoko-web-dev-bin-git
	optdepends = mono: to use avdump2
	source = git+https://github.com/ShokoAnime/ShokoServer.git
	source = git+https://github.com/ShokoAnime/Shoko.Commons.git
	source = git+https://github.com/ShokoAnime/Shoko.Models.git
	source = shoko-server.service
	source = shoko-server.sysusers
	source = shoko-server.tmpfiles
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 57d271c83b7a8f36739186e4a1a6d3b2cb4508b9580dbc86603a29927d6e412d
	sha256sums = 09709df04602d42e67cb3c83d65c1c33c7e7ee0303d67002a38aa31b09250ad5
	sha256sums = 3665bddb83f981cd9af209516495d17e2377b640427e180db8c637aa03282626

pkgname = shoko-server-git
