[Unit]
Description=Uptime-Kuma - A free and open source uptime monitoring solution
Documentation=https://github.com/louislam/uptime-kuma
After=network.target

[Service]
Type=simple
User=uptime-kuma
Group=uptime-kuma
WorkingDirectory=/usr/lib/uptime-kuma/
ExecStart=/usr/bin/node server/server.js --data-dir=/var/lib/uptime-kuma/data/
Restart=on-failure

[Install]
WantedBy=multi-user.target